.login {
  background: url("../../../../assets/images/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.login__logo {
  height: 4rem;
  background-image: url("../../../../assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.login__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.box {
  top: 15%;
  opacity: 1;
  padding: 50px 40px 40px 40px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
  text-align: center;
}
