<br />
<footer
  class="page-footer font-small teal"
  style="text-align: center; bottom: 0rem; width: 100%"
>
  <br />
  Proyecto dirigido por
  <a href="https://pe.linkedin.com/in/roger-l%C3%B3pez-trujillo-499a07141">
    Roger Lopez Trujillo</a
  >
  y
  <a href="https://pe.linkedin.com/in/nathaly-gamarra-santos-99a59314a">
    Nathaly Gamarra Santos</a
  >

  <br />
  © 2021 Copyright:
  <a href="https://github.com/Taller-de-Proyectos-II/tp2-webclient">
    Código Fuente</a
  >
  por
  <a href="https://www.linkedin.com/in/jimena-alexandra-ruiz-cerna/">
    Jimena Ruiz Cerna</a
  >
  <br />
  <br />
</footer>
