<mat-toolbar color="primary">
  <img
    src="../../../assets/images/logo_header.png"
    style="height: 2rem; width: 2rem; margin-right: 10px"
  />
  <span>PhychoMonitoringApp</span>
  <button
    mat-button
    color="primary"
    mat-raised-button
    style="border: 0ch; box-shadow: none; margin-left: 60px"
    (click)="redirectTo('/welcome/')"
  >
    Inicio
  </button>
  <button
    mat-button
    color="primary"
    mat-raised-button
    style="border: 0ch; box-shadow: none; margin-left: 30px"
    (click)="redirectTo('/myprofile/')"
  >
    Mi Perfil
  </button>
  <button
    mat-button
    color="primary"
    mat-raised-button
    style="border: 0ch; box-shadow: none; margin-left: 30px"
    (click)="redirectTo('/patients/')"
  >
    Pacientes
  </button>
  <button
    mat-button
    color="primary"
    mat-raised-button
    style="border: 0ch; box-shadow: none; margin-left: 30px"
    (click)="redirectTo('/schedule/')"
  >
    Horarios
  </button>
  <button
    mat-button
    color="primary"
    mat-raised-button
    style="border: 0ch; box-shadow: none; margin-left: 30px"
    (click)="redirectTo('/session/')"
  >
    Sesiones
  </button>
  <button
    mat-button
    color="primary"
    mat-raised-button
    style="border: 0ch; box-shadow: none; margin-left: 30px"
    (click)="redirectTo('/help/')"
  >
    Ayuda
  </button>
  <button
    mat-raised-button
    color="primary"
    style="border: 0ch; box-shadow: none; position: absolute; right: 1rem"
    mat-button
    (click)="closeApp()"
  >
    <i class="material-icons">logout</i>
    &nbsp;Salir
  </button>
</mat-toolbar>
<br />
