<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal">
  <mdb-navbar-brand style="left: 1rem; position: absolute">
    <img
      src="../../../assets/images/logo_header.png"
      style="height: 2rem; width: 2rem; margin-right: 10px"
    />
    <a class="navbar-brand" style="color: white; font-size: 20px"
      >PhychoMonitoringApp</a
    >
  </mdb-navbar-brand>
  <img style="height: 3rem; width: 3rem; margin-right: 10px; opacity: 0" />
  <links>
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item li-separation"
        [ngClass]="{ active: selected == 'Inicio' }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          (click)="changeSelected('Inicio'); redirectTo('/welcome/')"
          >Inicio</a
        >
      </li>
      <li
        class="nav-item li-separation"
        [ngClass]="{ active: selected == 'Mi Perfil' }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          (click)="changeSelected('Mi Perfil'); redirectTo('/myprofile/')"
          >Mi Perfil</a
        >
      </li>
      <li
        class="nav-item li-separation"
        [ngClass]="{ active: selected == 'Pacientes' }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          (click)="changeSelected('Pacientes'); redirectTo('/patients/')"
          >Pacientes</a
        >
      </li>
      <li
      class="nav-item li-separation"
      [ngClass]="{ active: selected == 'Vista General' }"
    >
      <a
        class="nav-link waves-light"
        mdbWavesEffect
        (click)="changeSelected('Vista General'); redirectTo('/general-view/')"
        >Vista General</a
      >
    </li>
      <li
        class="nav-item li-separation"
        [ngClass]="{ active: selected == 'Horarios' }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          (click)="changeSelected('Horarios'); redirectTo('/schedule/')"
          >Horarios</a
        >
      </li>
      <li
        class="nav-item li-separation"
        [ngClass]="{ active: selected == 'Sesiones' }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          (click)="changeSelected('Sesiones'); redirectTo('/session/')"
          >Sesiones</a
        >
      </li>
      <li
        class="nav-item li-separation"
        [ngClass]="{ active: selected == 'Ayuda' }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          (click)="changeSelected('Ayuda'); redirectTo('/help/')"
          >Ayuda</a
        >
      </li>
      <li
        class="nav-item"
        style="position: absolute; right: 1rem"
        [ngClass]="{ active: selected == 'Salir' }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          (click)="changeSelected('Salir'); closeApp()"
          >Salir</a
        >
      </li>
    </ul>
  </links>
</mdb-navbar>
<br />
