<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <div class="login__logo"></div>
    <br />
    <form [formGroup]="forgetPasswordFormGroup">
      <h2>Recuperar contraseña</h2>
      <h4>Ingrese su correo para recibir una contraseña temporal</h4>
      <br />
      <div class="row">
        <mat-form-field
          class="grow-width"
          appearance="outline"
          style="width: 100%"
        >
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" />
          <mat-error
            *ngIf="forgetPasswordFormGroup.get('email').hasError('required')"
          >
            <strong> Ingrese Correo electrónico </strong>
          </mat-error>
        </mat-form-field>
      </div>
      <br />
      <button
        #login
        class="grow-width"
        mat-raised-button
        color="primary"
        (click)="sendEmail()"
      >
        Enviar
      </button>
    </form>
    <br />
    <br />
    <a class="a-link" (click)="redirectTo('/')">Volver</a>
  </mat-card>
</div>
