<h2>
  <button
    mat-icon-button
    color="primary"
    style="margin-left: 0px"
    (click)="redirectTo('/patients')"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  Pruebas asignadas a {{ patient.names }} {{ patient.lastNames }}
  <button
    mat-icon-button
    color="primary"
    style="position: absolute; right: 6rem"
    (click)="createTest()"
  >
    <mat-icon>add</mat-icon>
  </button>
</h2>

<div *ngFor="let test of tests; index as i">
  <mat-expansion-panel 
  [ngStyle]="test.color == 'red' && {'background-color': '#F5B7B1' } || test.color == 'orange' && {'background-color': '#F5CBA7'}
  || test.color == 'yellow' && {'background-color': '#F9E79F'}
  || test.color == 'green' && {'background-color': '#A9DFBF'}
  || test.color == 'white' && {'background-color': '#e8eaf6'}
  || test.color == 'null' && {'background-color': '#e8eaf6'}
  ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Prueba de {{ test.testType }}</b>
      </mat-panel-title>
      <mat-panel-description  style="flex-grow: 0; margin-right: 6rem;">
        {{ test.startDate }} ·
        {{ test.finished == true ? test.endDate : "En proceso" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <br />
    <button
      mat-icon-button
      color="primary"
      style="position: absolute; right: 1rem"
      (click)="deleteTest(test.idTest)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <label
      ><b> Diagnóstico: </b
      >{{ test.diagnostic == "" ? "No especificado" : test.diagnostic }} </label
    ><br /><br />
    <mat-table [dataSource]="test.answersDTO" fixedLayout="true">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 15%">
          #
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element; let i = index"
          style="flex: 0 0 15%"
        >
          {{ i + 1 }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="question">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 60%">
          Pregunta
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 0 0 60%">
          {{ element.questionDTO.description }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 25%">
          Respuesta
        </mat-header-cell>
        <div *ngIf="test.testType != 'Manifestaciones'">
          <mat-cell *matCellDef="let element" style="flex: 0 0 25%">
            {{
              element.score == 0
                ? "No respondido"
                : element.score == 1
                ? "Nunca o casi nunca"
                : element.score == 2
                ? "Algunas veces"
                : element.score == 3
                ? "Muchas veces"
                : "Siempre o casi siempre"
            }}
          </mat-cell>
        </div>
        <div *ngIf="test.testType == 'Manifestaciones'">
          <mat-cell *matCellDef="let element" style="flex: 0 0 25%">
            {{
              element.score == 1
                ? "Sí"
                : test.finished == true
                ? "No"
                : "No respondido"
            }}
          </mat-cell>
        </div>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <br />
  </mat-expansion-panel>

  <br />
</div>
