<mat-card style="text-align: center; padding-left: 20px; padding-right: 20px">
  <h2>Confirmar actualización de datos</h2>
  <h4>Por su seguridad, digite su contraseña para actualizar sus datos</h4>
  <form [formGroup]="passwordFormGroup">
    <mat-form-field class="grow-width" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        maxlength="20"
      />
      <mat-error *ngIf="passwordFormGroup.get('password').hasError('required')">
        <strong> Ingrese Contraseña </strong>
      </mat-error>
      <mat-error
        *ngIf="passwordFormGroup.get('password').hasError('incorrect')"
      >
        <strong> Contraseña incorrecta </strong>
      </mat-error>
    </mat-form-field>
    <br />
    <br />
    <h4>¿Desea cambiar su contraseña? (de no ser el caso, dejar en blanco)</h4>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="grow-width" appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="newPassword"
            maxlength="20"
          />
          <mat-error
            *ngIf="passwordFormGroup.get('newPassword').hasError('required')"
          >
            <strong> Ingrese Nueva Contraseña </strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="grow-width" appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            maxlength="20"
          />
          <mat-error
            *ngIf="
              passwordFormGroup.get('confirmPassword').hasError('required')
            "
          >
            <strong> Confirme Contraseña </strong>
          </mat-error>
          <mat-error
            *ngIf="
              passwordFormGroup.get('confirmPassword').hasError('incorrect')
            "
          >
            <strong> La contraseña no coincide </strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <br />
    <br />
    <button class="grow-width" mat-raised-button color="primary" (click)="save()">
      Actualizar datos
    </button>
    <br />
    <br />
    <a (click)="cancel()">Volver</a>
  </form>
</mat-card>
