<h2>
  Horarios
  <button
    mat-raised-button
    color="primary"
    style="position: absolute; right: 0rem"
    mat-button
    (click)="save()"
    [disabled]="actualTab == 1"
  >
    <i class="material-icons">save</i>
    &nbsp;Guardar
  </button>
</h2>

<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Disponibilidad">
    <mat-table [dataSource]="hours" style="width: 100%">
      <ng-container matColumnDef="hour">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Horas
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          {{ element.hourName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="monday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Lunes<br />
          {{ date[0] }}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.monday.checked"
            (change)="element.monday.checked = !element.monday.checked"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tuesday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Martes<br />
          {{ date[1] }}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.tuesday.checked"
            (change)="element.tuesday.checked = !element.tuesday.checked"
          >
          </mat-checkbox
        ></mat-cell>
      </ng-container>

      <ng-container matColumnDef="wednesday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Miércoles<br />
          {{ date[2] }}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.wednesday.checked"
            (change)="element.wednesday.checked = !element.wednesday.checked"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="thursday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Jueves<br />
          {{ date[3] }}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.thursday.checked"
            (change)="element.thursday.checked = !element.thursday.checked"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="friday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Viernes<br />
          {{ date[4] }}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.friday.checked"
            (change)="element.friday.checked = !element.friday.checked"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="saturday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Sábado
          <br />
          {{ date[5] }}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.saturday.checked"
            (change)="element.saturday.checked = !element.saturday.checked"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sunday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Domingo
          <br />
          {{ date[6] }}
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.sunday.checked"
            (change)="element.sunday.checked = !element.sunday.checked"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <br />
  </mat-tab>
  <mat-tab label="Reservados"
    ><mat-table [dataSource]="hoursWithSessions" style="width: 100%">
      <ng-container matColumnDef="hour">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Horas
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          {{ element.hourName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="monday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Lunes
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-icon
            color="primary"
            *ngIf="element.monday.checked"
            (click)="openDialogPatient(element.monday.patientDni)"
            >event</mat-icon
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tuesday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Martes
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-icon
            color="primary"
            *ngIf="element.tuesday.checked"
            (click)="openDialogPatient(element.tuesday.patientDni)"
            >event</mat-icon
          ></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="wednesday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Miércoles
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-icon
            color="primary"
            *ngIf="element.wednesday.checked"
            (click)="openDialogPatient(element.wednesday.patientDni)"
            >event</mat-icon
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="thursday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Jueves
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-icon
            color="primary"
            *ngIf="element.thursday.checked"
            (click)="openDialogPatient(element.thursday.patientDni)"
            >event</mat-icon
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="friday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Viernes
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-icon
            color="primary"
            *ngIf="element.friday.checked"
            (click)="openDialogPatient(element.friday.patientDni)"
            >event</mat-icon
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="saturday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Sábado
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-icon
            color="primary"
            *ngIf="element.saturday.checked"
            (click)="openDialogPatient(element.saturday.patientDni)"
            >event</mat-icon
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sunday">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          Domingo
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <mat-icon
            color="primary"
            *ngIf="element.sunday.checked"
            (click)="openDialogPatient(element.sunday.patientDni)"
            >event</mat-icon
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <br
  /></mat-tab>
</mat-tab-group>
