<mat-card
  style="
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
  "
>
  <h2>
    {{ title }}
  </h2>
  <form [formGroup]="conferenceFormGroup">
    <mat-form-field class="grow-width" appearance="outline" style="width: 100%">
      <mat-label>Seminario</mat-label>
      <input matInput formControlName="name" maxlength="30" />
      <mat-error *ngIf="conferenceFormGroup.get('name').hasError('required')">
        <strong> Ingrese Seminario</strong>
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="grow-width" appearance="outline" style="width: 100%">
      <mat-label>Lugar</mat-label>
      <input matInput formControlName="place" maxlength="30" />
      <mat-error *ngIf="conferenceFormGroup.get('place').hasError('required')">
        <strong> Ingrese Lugar </strong>
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="grow-width" appearance="outline" style="width: 100%">
      <mat-label>Descripción</mat-label>
      <textarea
        style="height: 60px"
        matInput
        formControlName="description"
        maxlength="100"
      ></textarea>
    </mat-form-field>
    <br />
    <br />
    <button
      mat-raised-button
      *ngIf="data.action != 'create'"
      color="accent"
      mat-button
      (click)="delete()"
    >
      <i class="material-icons">delete</i>
      &nbsp;Eliminar</button
    >&nbsp;&nbsp;
    <button mat-raised-button color="primary" mat-button (click)="save()">
      <i class="material-icons">save</i>
      &nbsp;{{ button }}
    </button>
    <br />
    <br />
    <a class="a-link" (click)="cancel()">Volver</a>
  </form>
</mat-card>
