<script src="node_modules/chart.js/Chart.min.js"></script>
<h2>Vista General de Pacientes</h2>
<form [formGroup]="dashboardFormGroup">
  <div class="row">
    <div class="col-2" style="margin-right: 15px">
      <mat-form-field class="grow-width" appearance="outline">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-2" style="margin-right: 15px">
      <mat-form-field class="grow-width" appearance="outline">
        <mat-label>Fecha Fin</mat-label>
        <input
          [max]="newDate"
          matInput
          [matDatepicker]="picker2"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button
        mat-raised-button
        color="primary"
        style="margin-top: 8%"
        mat-button
        (click)="loadDashboard()"
      >
        <i class="material-icons">search</i>
        &nbsp;Buscar
      </button>
    </div>
  </div>
</form>
<mat-divider></mat-divider>
<br />
<div class="row">
  <div class="col-6" style="align-items: center; text-align: center">
    <h3>Alertas</h3>
    <div style="display: block">
      <canvas
        baseChart
        [data]="doughnutChartDataAlertas"
        [labels]="doughnutChartLabelsAlertas"
        [chartType]="doughnutChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="col-6" style="align-items: center; text-align: center">
    <h3>Prueba de Manifestaciones</h3>
    <div style="display: block">
      <canvas
        baseChart
        [data]="doughnutChartDataManifestaciones"
        [labels]="doughnutChartLabelsManifestaciones"
        [chartType]="doughnutChartType"
      >
      </canvas>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-6" style="align-items: center; text-align: center">
    <h3>Prueba de Ansiedad</h3>
    <div style="display: block">
      <canvas
        baseChart
        [data]="doughnutChartDataAnsiedad"
        [labels]="doughnutChartLabelsAnsiedad"
        [chartType]="doughnutChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="col-6" style="align-items: center; text-align: center">
    <h3>Prueba de Depresión</h3>
    <div style="display: block">
      <canvas
        baseChart
        [data]="doughnutChartDataDepresion"
        [labels]="doughnutChartLabelsDepresion"
        [chartType]="doughnutChartType"
      >
      </canvas>
    </div>
  </div>
</div>
<br />
<br />
