<h2>Creación de Data por Defecto</h2>

<mat-card style="padding-bottom: 8px">
  <button
    mat-raised-button
    color="primary"
    style="position: absolute; right: 1rem"
    mat-button
    (click)="createQuestionTypes()"
  >
    <i class="material-icons">add</i>
    &nbsp;Crear
  </button>
  <mat-card-title>Tipos de pregunta</mat-card-title>
  <mat-card-subtitle
    >Incluye manifestaciones, depresión y ansiedad</mat-card-subtitle
  >
</mat-card>
<br />
<mat-card style="padding-bottom: 8px">
  <button
    mat-raised-button
    color="primary"
    style="position: absolute; right: 1rem"
    mat-button
    (click)="createQuestions()"
  >
    <i class="material-icons">add</i>
    &nbsp;Crear
  </button>
  <mat-card-title>Preguntas</mat-card-title>
  <mat-card-subtitle
    >Incluye 4 preguntas para manifestaciones 20 para depresión y
    ansiedad</mat-card-subtitle
  >
</mat-card>
<br />
<mat-card style="padding-bottom: 8px">
  <button
    mat-raised-button
    color="primary"
    style="position: absolute; right: 1rem"
    mat-button
    (click)="createSymptoms()"
  >
    <i class="material-icons">add</i>
    &nbsp;Crear
  </button>
  <mat-card-title>Síntomas</mat-card-title>
  <mat-card-subtitle>Incluye 6 preguntas para alertas</mat-card-subtitle>
</mat-card>
<br />
<mat-card style="padding-bottom: 8px">
  <button
    mat-raised-button
    color="primary"
    style="position: absolute; right: 1rem"
    mat-button
    (click)="createSchedules()"
  >
    <i class="material-icons">add</i>
    &nbsp;Crear
  </button>
  <mat-card-title>Horarios</mat-card-title>
  <mat-card-subtitle>Incluye la matriz de horas por día</mat-card-subtitle>
</mat-card>
<br />
