<mat-card
  style="
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 800px;
  "
>
  <mat-dialog-content>
    <h2>Documento de Consentimiento Informado</h2>
    <h3><b>Título del trabajo de investigación</b></h3>
    <label
      >Sistema de monitoreo para identificar el comportamiento de la salud
      mental en poblaciones vulnerables
    </label>
    <h3><b>Nombres de los investigadores</b></h3>
    <label
      >Roger Fernando López Trujillo – Nathaly Mercedes Gamarra Santos
    </label>
    <h3><b>Introducción</b></h3>
    <label>
      A usted se le está invitando a participar de este proyecto de
      investigación el cual busca: Implementar una solución tecnológica para el
      monitoreo del comportamiento de trastorno de ansiedad en poblaciones
      vulnerables.
    </label>
    <br />
    <label>
      En el presente documento de consentimiento informado usted encontrará
      información importante relacionada a: la finalidad del estudio, lo que se
      le pedirá a usted que haga, los riesgos y/o beneficios de su
      participación, entre otros aspectos que le permitirán decidir si participa
      o no. Lea detenidamente este documento y siéntase usted con la libertad de
      hacer las preguntas que considere necesarias.
    </label>
    <br />
    <label>
      Si usted decide participar de esta investigación, deberá colocar su nombre
      y firmar este documento; se le brindará una copia firmada y fechada.
    </label>
    <h3><b>1. Justificación del estudio</b></h3>
    <label
      >Por medio de este estudio, se busca poder procesar sus datos brindados en
      la aplicación y determinar parámetros para diagnosticar la ansiedad, como
      en qué nivel se encuentra y así poder brindarle una atención y el
      monitoreo continuo de sus síntomas con ayuda del psicólogo.
    </label>
    <h3><b>2. Procedimientos del estudio</b></h3>
    <label>
      El procedimiento de este estudio es aceptar el uso de sus datos
      personales, como nombre, documento de identidad, fecha de nacimiento y
      datos necesarios al proyecto. Al aceptar, nos ayudará en poder responder
      cuestionarios involucrados con temas de ansiedad y depresión. Además, al
      hacer uso de nuestro aplicativo, poder responder encuestas y preguntas
      acerca de mejoras para sí mismo.
    </label>
    <h3><b>3. Riesgos</b></h3>
    <label>
      Dentro del proyecto de investigación, se define a riesgos como poder
      brindar un mal diagnóstico por medio de la aplicación y que este no esté
      de acuerdo con el psicólogo asignado. Además, la atención en citas
      virtuales tome más tiempo para la reserva de estas debido a no tener
      horarios disponibles o poca información del psicólogo para la atención al
      paciente.
    </label>
    <h3><b>4. Beneficios</b></h3>
    <label>
      Con el estudio, se puede brindar diagnósticos más acertados por medio de
      las respuestas que nos brinde con ayuda de los aplicativos. Con los datos
      obtenidos se puede brindar citas virtuales con un psicólogo y poder darle
      una consulta, en el cual reafirmaría el diagnostico obtenido de manera
      automática. Además, con ayuda de los datos brindados se podrá brindar un
      monitoreo continuo con respuestas e informes directo de los psicólogos.
    </label>
    <h3><b>5. Confidencialidad de la información</b></h3>
    <label>
      Se garantiza la confidencialidad de los datos solo para el uso del
      proyecto.
    </label>
    <h3><b>Contacto con los investigadores</b></h3>
    <label>
      Para comunicarse con los investigadores de este estudio, podrá hacerlo con
      Roger Fernando López Trujillo, u201210776@upc.edu.pe o al teléfono
      958526300 y Nathaly Mercedes Gamarra Santos, a través del correo
      electrónico u201416422@upc.edu.pe o al teléfono 949713293.
    </label>
    <h3><b>Contacto con el asesor</b></h3>
    <label>
      Para contactar el asesor de este estudio Jimmy Armas Aguirre puede
      escribir al correo electrónico jimmy.armas@upc.pe
    </label>
    <h3><b>Comité de ética</b></h3>
    <label>
      Si usted tiene alguna duda sobre el estudio o siente que sus derechos
      fueron vulnerados, puede contactar a la Presidente del Comité de Ética en
      Investigación de la Universidad Peruana de Ciencias Aplicadas, Mag. Ilce
      Casanova Olortegui al teléfono 313-3333, anexo 2702 o al correo
      electrónico PCNUSCAS@upc.edu.pe
    </label>
    <br />
    <label>
      El subcomité de ética está formado por personas externas al proyecto de
      investigación, cuya función es velar que se respete la dignidad y derecho
      de los participantes, según el diseño y desarrollo de la investigación.
    </label>
    <h3><b>Derecho a retirarse</b></h3>
    <label>
      Usted podrá retirarse en cualquier momento del estudio sin ninguna
      explicación al respecto.
    </label>
    <br />
    <label>
      En el caso de menores de 18 años o de participantes que tengan alguna
      limitación mental que los incapacite para firmar el consentimiento
      informado, se reconocerá como su representante al padre, la madre o algún
      otro familiar o apoderado. Los analfabetos podrán utilizar su huella
      digital (dedo índice) en lugar de la firma. Una copia del documento de
      consentimiento informado siempre debe ser entregado al firmante. Los
      menores de edad (de 10 a 18 años) además deberán dar su asentimiento de
      participación en la investigación. Si se niegan no podrá realizarse la
      investigación en ellos, así su representante legal esté de acuerdo con
      firmar el documento de consentimiento informado.
    </label>
    <br />
    <br />
    <a (click)="close()">Volver</a>
  </mat-dialog-content>
</mat-card>
