.mat-card {
  background: #daf2f1;
}

.divScroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  height: 240px;
}
.divScroll::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
