<div clas="row">
  <div class="col-3" style="display: inline-block">
    <img
      [src]="retrieveURL"
      style="border-radius: 50%; width: 200px; height: 200px; display: block"
      (click)="openPhotoDialog()"
    />
  </div>
  <div class="col-9" style="display: inline-block">
    <form [formGroup]="psychologistFormGroup">
      <h2>
        Mi Perfil

        <button
          mat-raised-button
          color="primary"
          style="position: absolute; right: 1rem"
          mat-button
          (click)="saveProfile()"
        >
          <i class="material-icons">save</i>
          &nbsp;Guardar
        </button>
        <button
          mat-raised-button
          color="primary"
          style="position: absolute; right: 9rem"
          mat-button
          (click)="openPasswordDialog()"
        >
          <i class="material-icons">enhanced_encryption</i>
          &nbsp;Cambiar contraseña
        </button>
      </h2>
      <div class="row">
        <div class="col-4">
          <mat-form-field
            class="grow-width"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="names" maxlength="30" />
            <mat-error
              *ngIf="psychologistFormGroup.get('names').hasError('required')"
            >
              <strong> Ingrese Nombres </strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field
            class="grow-width"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="lastNames" maxlength="30" />
            <mat-error
              *ngIf="
                psychologistFormGroup.get('lastNames').hasError('required')
              "
            >
              <strong> Ingrese Apellidos </strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field
            class="grow-width"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Fecha de nacimiento</mat-label>
            <input
              [max]="newDate"
              matInput
              [matDatepicker]="picker"
              formControlName="birthday"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="psychologistFormGroup.get('birthday').hasError('required')"
            >
              <strong> Ingrese Fecha de nacimiento </strong>
            </mat-error>
            <mat-error
              *ngIf="
                psychologistFormGroup.get('birthday').hasError('incorrect')
              "
            >
              <strong> Debe ser mayor de edad </strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field
            class="grow-width"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Reg. C.Ps.P</mat-label>
            <input matInput formControlName="cpsp" maxlength="20" />
            <mat-error
              *ngIf="psychologistFormGroup.get('cpsp').hasError('required')"
            >
              <strong> Ingrese Reg. C.Ps.P </strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field
            class="grow-width"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" maxlength="30" />
            <mat-error
              *ngIf="psychologistFormGroup.get('email').hasError('required')"
            >
              <strong> Ingrese Correo electrónico </strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field
            class="grow-width"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Número de Teléfono</mat-label>
            <input matInput formControlName="phone" maxlength="20" />
            <mat-error
              *ngIf="psychologistFormGroup.get('phone').hasError('required')"
            >
              <strong> Ingrese Teléfono </strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field
            class="grow-width"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="description" maxlength="300" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<br />
<div>
  <div class="row">
    <div class="col-6">
      <h2>
        Experiencia Laboral
        <button
          mat-raised-button
          color="primary"
          style="position: absolute; right: 1rem"
          mat-button
          (click)="openDialog('workExperience', 'create', {})"
        >
          <i class="material-icons">add</i>
          &nbsp;Agregar
        </button>
      </h2>
      <label *ngIf="workExperiences.length == 0"
        >No se ha registrado experiencia laboral.</label
      >
      <div style="overflow: scroll; height: 270px">
        <div *ngFor="let workExperience of workExperiences">
          <mat-card>
            <button
              mat-raised-button
              color="primary"
              style="position: absolute; right: 1rem"
              mat-button
              (click)="openDialog('workExperience', 'edit', workExperience)"
            >
              <i class="material-icons">edit</i>
              &nbsp;Editar
            </button>
            <mat-card-title>{{ workExperience.place }}</mat-card-title>
            <mat-card-subtitle
              >{{ workExperience.occupation }} ·
              {{ workExperience.workingDayType }} ·
              {{ workExperience.startDate }} -
              {{
                workExperience.current == true
                  ? "Actualidad"
                  : workExperience.endDate
              }}</mat-card-subtitle
            >
            <label> {{ workExperience.description }}</label>
          </mat-card>
          <br />
        </div>
      </div>
    </div>
    <br />
    <div class="col-6">
      <h2>
        Educación
        <button
          mat-raised-button
          color="primary"
          style="position: absolute; right: 1rem"
          mat-button
          (click)="openDialog('study', 'create', {})"
        >
          <i class="material-icons">add</i>
          &nbsp;Agregar
        </button>
      </h2>
      <label *ngIf="studies.length == 0">No se han registrado estudios.</label>
      <div style="overflow: scroll; height: 270px">
        <div *ngFor="let study of studies">
          <mat-card>
            <button
              mat-raised-button
              color="primary"
              style="position: absolute; right: 1rem"
              mat-button
              (click)="openDialog('study', 'edit', study)"
            >
              <i class="material-icons">edit</i>
              &nbsp;Editar
            </button>
            <mat-card-title>{{ study.studyCenter }}</mat-card-title>
            <mat-card-subtitle
              >{{ study.title }}, {{ study.academicDiscipline }} ·
              {{ study.startDate }} -
              {{ study.complete != true ? "Actualidad" : study.endDate }}
            </mat-card-subtitle>
            <label>{{ study.description }}</label>
          </mat-card>
          <br />
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
<br />
<br />
<div>
  <div class="row">
    <div class="col-6">
      <h2>
        Cursos
        <button
          mat-raised-button
          color="primary"
          style="position: absolute; right: 1rem"
          mat-button
          (click)="openDialog('course', 'create', {})"
        >
          <i class="material-icons">add</i>
          &nbsp;Agregar
        </button>
      </h2>
      <label *ngIf="courses.length == 0">No se han registrado cursos.</label>
      <div style="overflow: scroll; height: 270px">
        <div *ngFor="let course of courses">
          <mat-card>
            <button
              mat-raised-button
              color="primary"
              style="position: absolute; right: 1rem"
              mat-button
              (click)="openDialog('course', 'edit', course)"
            >
              <i class="material-icons">edit</i>
              &nbsp;Editar
            </button>
            <mat-card-title>{{ course.name }}</mat-card-title>
            <mat-card-subtitle>{{ course.studyCenter }}</mat-card-subtitle>
            <label>{{ course.description }}</label>
          </mat-card>
          <br />
        </div>
      </div>
      <br />
    </div>
    <div class="col-6">
      <h2>
        Seminarios
        <button
          mat-raised-button
          color="primary"
          style="position: absolute; right: 1rem"
          mat-button
          (click)="openDialog('conference', 'create', {})"
        >
          <i class="material-icons">add</i>
          &nbsp;Agregar
        </button>
      </h2>
      <label *ngIf="conferences.length == 0"
        >No se han registrado seminarios.</label
      >
      <div style="overflow: scroll; height: 270px">
        <div *ngFor="let conference of conferences">
          <mat-card>
            <button
              mat-raised-button
              color="primary"
              style="position: absolute; right: 1rem"
              mat-button
              (click)="openDialog('conference', 'edit', conference)"
            >
              <i class="material-icons">edit</i>
              &nbsp;Editar
            </button>
            <mat-card-title>{{ conference.name }}</mat-card-title>
            <mat-card-subtitle>{{ conference.place }}</mat-card-subtitle>
            <label>{{ conference.description }}</label>
          </mat-card>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
